body{background: url('/images/background.png'); background-repeat: no-repeat;}

.login-form-2{
    padding: 5%;
    background: #007bff;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin: 0;
}

/*.card-body{*/
    /*text-align: center;*/
    /*color: #fff;*/
/*}*/

.card-header{
    text-align: center;
    color: #fff;
}

.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
